<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.app"
	android:versionCode="10"
	android:versionName="1.10" >
	
	<!-- To check when the network connection changes -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-sdk
		android:minSdkVersion="13"
		android:targetSdkVersion="19" />
	<application
		android:name="com.app.App"
		android:allowBackup="true"
		android:allowClearUserData="true"
		android:enabled="true"
		android:hardwareAccelerated="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<activity
			android:name="com.app.activities.MainActivity"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<service android:name="com.app.services.ProfileSyncIntentService" />
		<receiver android:name="com.app.receivers.UserProfileRespReceiver" />
	</application>
</manifest>